@theme {
  --font-montserrat: Montserrat, sans-serif;

  --shadow-custom: 0 0 15px rgba(0, 0, 0, 0.3);
  --shadow-right: 10px 0px 10px -5px rgba(0, 0, 0, 0.3);

  --color-custom-blue: rgb(28 100 242);

  --color-banner-color1: #21ad61;
  --color-banner-color2: #ff2c2c;
  --color-banner-color3: #fdc200;
  --color-banner-color4: #723da6;

  --background-image-custom-gradient: linear-gradient(
    to right,
    #111827,
    #1f2937
  );
  --background-image-button-gradient: linear-gradient(
    to right,
    #7e22ce,
    #ef4444
  );
  --background-image-custom-gradient2: linear-gradient(
    135deg,
    #f5f5f5,
    #eae7dc
  );
}

@import "tailwindcss";